.Rproj.user
.Rhistory
.RData
.Ruserdata
data
results/cellbrowser
results/*_cache/
*.pdf
*.xlsx
*.tsv
*.rds
*.qs
*.csv
*.html
*.txt
*.loom
*.gz
*.html
*.png
*.err
*.out
*.swp
*.json
*.bin
*.index
*.js
*.npz
*.joblib
*.ipynb_checkpoints
*.h5ad
